{% load static %}
<section class="contact">
    <div>
        <p class="contact"> Contacts </p>
    </div id="content">
    <div class="contact1">
        <img src="{% static 'image/call-1.jpg'%}" alt="" width="50" height="50"
             align="middle">0742522219 
        <img src="{% static 'image/call-1.jpg'%}" alt="" width="50" height="50"
            align="middle">0679872277
        <img src="{% static 'image/whats.jpg'%}" alt="" width="50" height="50"
            align="middle">0717202778
        <img src="{% static 'image/whats.jpg'%}" alt="" width="50" height="50"
            align="middle">0679872277
        <img src="{% static 'image/yahoo.jpg'%}" alt="" width="50" height="50"
            align="middle">Oremus.mwaya@yahoo.com
        <img src="{% static 'image/insta-1.jpg'%}" alt="" width="50" height="50"
            align="middle">Horse.Drafting
    </di>
</section>