{% load static %}

<nav class="nav_bar">
    <div id="bars">
        <ul>
            <li class="bars" ><a class="bars {% if '/' == request.path %} active {% endif %}" href="{% url 'index' %}"> HOME </a></li>
            <li class="bars"><a class="bars {% if 'about' in request.path %} active {% endif %}" href="{% url 'about' %}"> ABOUT </a></li> 
            <li class="bars"><a class="bars {% if 'machines' in request.path %} active {% endif %}" href="{% url 'machines' %}"> MACHINES </a></li>       
          
            {% if user.is_authenticated %}
            <li class="bars bar">
                <a class="bars {% if 'logout' in request.path %} active {% endif %}" href="{% url 'logout' %}">
                   LOGOUT</a>
                <form action="{ % url 'logout' %}" method="POST">
                 {% csrf_token %}
                 <input type="hidden" >
                </form> 
            </li>   
            {% else %}
            <li class="bars bar"><a class="bars {% if 'register' in request.path  %} active {% endif %}" href="{% url 'register' %}"> REGISTER </a></li>
            <li class="bars bar"><a class="bars {% if 'login' in request.path  %} active {% endif %}" href="{% url 'login' %}"> LOGIN </a></li>
            {% endif %}
         </ul> 
        </ul>
    </div>
 </nav>