{% extends 'base.html' %} {% block content %}
{% load static %}

   <section class="article_bar">
    <div id="article_bar">
       <div class="r_list">
        <img src="{% static 'image/hydraulic-1.jpg' %}" alt="hydraulic machine" width="300"
        height="300">
           <p class="column">Hydraulic lift</p>             
       </div>  
       <div class="r_list">     
           <img src="{% static 'image/fat_extractor-1.jpg' %}" alt="Scissor machine" width="300" 
           height="300" >
            <p class="column">Fat Render </p>
       </div>       
    </div>
   </section>
   <section class="manajor">
    <div class="r_list">
          <figure>
            <img src="{% static 'image/mwaya-1.jpg' %}" alt="founder" width="200"
            height="200" > <figcaption> Founder:Oremus Mwaya </figcaption>
          </figure>   
       </div> 
       <div class="r_list">
           <figure>       
             <img src="{% static 'image/wizzy-1.jpg' %}" alt="Senior" width="200"
              height="200">  <figcaption> Senior:Waziri Abdallah </figcaption>
           </figure>  
    </div>           
    </section>
{% endblock %}