{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="article_bar">
     <p>{% include 'constants/alert.html'%} </p>
    <div id="article_bar">
    {% if user.is_authenticated %}
     {% if machines %}
      {% for machine in machines %}
       <div class="r_list">
        <p class="title">{{ machine.title }}</p>  
        <p class="function">FUNCTION:<br>{{ machine.function }} </p>
        <img src="{{ machine.main_photo.url }}" alt="hydraulic machine" width="300"
        height="300">
        <p class="status">Status: {{ machine.status }} <br>Published: {{ machine.machine_date }} </p> 
        <p class="detail"><a href="{% url 'machine' machine.id %}"><button> Detail info and Drawings</button></a></p>            
       </div> 
      {% endfor %}
     {% else %}
          <div class="r_list">
           <p class="title">NO MACHINE</p>             
          </div> 
     {% endif %}
    {% else %} 
     {% if machines %}
      {% for machine in machines %}
       <div class="r_list">
        <p class="title">{{ machine.title }}</p>  
        <p class="function">FUNCTION:<br>{{ machine.function }} </p>
        <img src="{{ machine.main_photo.url }}" alt="hydraulic machine" width="30%"
        height="300">
        <p class="status">Status: {{ machine.status }} <br> {{ machine.machine_date }} </p> 
        <p class="detail"><a href="{% url 'machine' machine.id %}"><button> Register or login for detail info</button></a></p>            
       </div> 
      {% endfor %}
     {% else %}
          <div class="r_list">
           <p class="title">NO MACHINE</p>             
          </div> 
     {% endif %}  
    {% endif %}     
    </div>
 </section>
{% endblock %}