{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horse</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>
<body>
     <!--top bar-->
     {% include 'constants/top_bar.html' %}
     <!--nav bar-->
     {% include 'constants/nav_bar.html' %}
     <!--body part-->
     {% block content %} {% endblock %}
     <!--contact-->
     {% include 'constants/contact.html' %}
     <!--footer-->
     {% include 'constants/footer.html' %}
</body>
</html>        

           